:root{
  --active-primary-rgb: 14, 170, 154;
  --active-secondary-rgb: 11, 163, 213;
  --dark-primary-rgb: 47, 58, 88;
  --dark-secondary-rgb: 52, 65, 97;
  --light-primary-rgb: 244, 246, 248;
  --light-secondary-rgb: 255, 255, 255;
  --dim-primary-rgb: 227, 231, 211;
  --error-primary-rgb: 255,51,51;

  --active-primary: rgb(var(--active-primary-rgb));
  --active-secondary: rgb(var(--active-secondary-rgb));
  --dark-primary: rgb(var(--dark-primary-rgb));
  --dark-secondary: rgb(var(--dark-secondary-rgb));
  --light-primary: rgb(var(--light-primary-rgb));
  --light-secondary: rgb(var(--light-secondary-rgb));
  --dim-primary: rgb(var(--dim-primary-rgb));
  --error-primary: rgb(var(--error-primary-rgb));
}