.confirm-modal{
  padding:20px;
  text-align: center;
  padding-top: 50px;
  .button-group{
    position: absolute;
    bottom:30px;
    left:0px;
    right:0px;
    margin:auto;
    display: inline-block;
  }
}