# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/public-app/dist
/public-app/tmp
/public-app/out-tsc
/public-app/bazel-out

# Node
/public-app/node_modules
/public-app/npm-debug.log
/public-app/yarn-error.log

# IDEs and editors
/public-app/.idea/
/public-app/.project
/public-app/.classpath
/public-app/.c9/
/public-app/*.launch
/public-app/.settings/
/public-app/*.sublime-workspace

# Visual Studio Code
/public-app/.vscode/*
/public-app/!.vscode/settings.json
/public-app/!.vscode/tasks.json
/public-app/!.vscode/launch.json
/public-app/!.vscode/extensions.json
/public-app/.history/*

# Miscellaneous
/public-app/.angular/cache
/public-app/.sass-cache/
/public-app/connect.lock
/public-app/coverage
/public-app/libpeerconnection.log
/public-app/testem.log
/public-app/typings

# System files
/public-app/.DS_Store
/public-app/Thumbs.db


