<nav>
  <div class="main-nav">
    <div *ngFor="let route of navRoutes" class="link-wrapper" [ngClass]="{divider: route?.data!['nav']['divider']}">
      <a [routerLink]="route.path" routerLinkActive="active-link">
        <span *ngIf="route?.data!['nav']['icon']" class="icon">
          <fa-icon [icon]="['fas', route?.data!['nav']['icon']]"></fa-icon>
        </span>
        <span class="text">{{route?.data!['nav']['value']}}</span>
      </a>
    </div>
  </div>
  <div class="caption">kategorije</div>
  <div class="category-nav">
    <app-nav-category-list [categories]="categoryList" [mainNav]="true"></app-nav-category-list>
  </div>
  <!-- <div class="category-nav">
    <div *ngFor="let cat of categoryList" class="link-wrapper">
      <a [routerLink]="cat.path" routerLinkActive="active-link">
        <span *ngIf="cat.icon" class="icon">
          <fa-icon [icon]="['fas', cat.icon]"></fa-icon>
        </span>
        <span class="text">{{cat.name}}</span>
      </a>
    </div>
  </div> -->
</nav>