nav{
  .link-wrapper{
    margin-top: 5px;
    &:first-child{
      margin-top: 0px;
    }
    & > a{
      padding:8px 25px 8px 12px;
      color: var(--active-primary);
      font-size: 20px;
      border-radius: 50px;
      display: inline-block;
      span{
        display: inline-block;
      }
      .icon{
        width: 30px;
        text-align: center;
      }
      .text{
        padding-left: 10px;
      }
      &:hover{
        background-color: rgba(var(--active-primary-rgb), $alpha: 0.15);
      }
      &.active-link{
        background-color: var(--active-primary);
        color:#fff;
      }
    }
  }
}