
.link-wrapper{
  margin-bottom: 3px;
  &:first-child{
    margin-top: 0px;
  }
  & > a,
  & > .expander{
    padding:10px 25px 10px 12px;
    color: var(--active-primary);
    font-size: 18px;
    color:var(--light-primary);
    transition: background-color 0.13s ease;
    border-radius: 10px;
    align-items: center;
    text-decoration: none;
    display: flex;
    span{
      display: inline-block;
    }
    .icon{
      width: 30px;
      text-align: center;
    }
    .text{
      padding-left: 10px;
      flex:1;
    }
    &:hover{
      background-color: rgba(var(--active-primary-rgb), $alpha: 0.20);
    }
    &.active-link{
      background-image: linear-gradient(to right, var(--active-secondary), var(--active-primary));
    }
  }
  &.divider{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(var(--light-primary-rgb), 0.15);
    margin-bottom: 20px;
  }
  &:not(.main-nav){
    a,
    .expander {
      .text{
        padding-left: 4px;
      }
    }
  }
}