
h3{
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--active-primary);
}
h6{
  margin-bottom: 14px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 400px));
  grid-gap: 30px 20px;
  margin-bottom: 40px;
  .form-group{
    display: flex;
    flex: 1;
    .grid-placeholder{
      width: 100%;
    }
    .control{
      width: 100%;
      margin-left: 20px;
      &:first-child{
        margin-left: 0px;
      }
    }
  }
  .full{
    grid-column: span 2;
  }
}
.button-group{
  display: flex;
  margin-top: 40px;
  & > button{
    margin-left: 15px;
    &:first-child{
      margin-left: 0px;
    }
  }
}
.error-block{
  margin-top: 20px;
  color: var(--error-primary);
  max-height: 100px;
}