<div class="group">
  <div class="list">
    <app-category-selector-item *ngFor="let category of categories" 
                                [category]="category" 
                                [selected]="selectedCategory==category" 
                                (itemSelected)="categorySelectedEvent(category)"
    >
    </app-category-selector-item>
  </div>
  <div class="divider" *ngIf="selectedCategory && selectedCategory.children && selectedCategory.children.length != 0"></div>
  <app-category-selector-list *ngIf="selectedCategory && selectedCategory.children && selectedCategory.children.length != 0" 
                              [categories]="selectedCategory.children"
                              [depth]="depth+1"
                              [path]="path"
                              (pathChanged)="pathChanged.emit()"
  >
  </app-category-selector-list>
</div>