.image{
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  position: relative;
  border:2px solid var(--background-4);
  // .new-image{
  //   position: absolute;
  //   inset: 0px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   .new-background{
  //     position: absolute;
  //     inset: 0px;
  //     background-color: green;
  //     opacity: 0.2;
  //   }
  //   .new-text{
  //     position: relative;
  //   }
  // }
  &.new-image{
    border:2px solid green;
  }
  .btn-delete{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 19px;
    opacity: 0.3;
    transition: opacity 0.2s ease-in-out;
  }
  &:hover{
    .btn-delete{
      opacity: 1;
    }
  }
}