
.link-wrapper{
  margin-bottom: 3px;
  &:first-child{
    margin-top: 0px;
  }
  .link-inner{
    display: flex;
    a{
      display: flex;
      flex:1;
      &.active-link + button{
        color: var(--secondary);
        background-color: var(--active-primary);
        border-radius: 0px 10px 10px 0px;
        &:hover{
          background-color: var(--primary);
        }
      }
    }
    .btn-expand{
      background-color: var(--secondary-variant);
      border: 0px;
      padding:0px 18px;
      position: relative;
      border-radius: 10px;

      &:hover{
        color: var(--primary);
        background-color: rgba(var(--active-primary-rgb), 0.1);
      }
    }
  }
  &.expandable{
    & > .link-inner{
      a{
        border-radius: 10px 0px 0px 10px;
      }
    }
  }
  .children-list{
    padding-top: 3px;
    overflow: hidden;
  }
}

