<div class="container">
  <h3 *ngIf="mode=='add'">Kreiranje šopa</h3>
  <h3 *ngIf="mode=='edit'">Promjena šopa</h3>
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid">
      <custom-input class="control" [form]="form" controlName="name" placeholder="naziv"></custom-input>
      <custom-input class="control" [form]="form" controlName="address" placeholder="adresa"></custom-input>
      <custom-input class="control" [form]="form" controlName="telephoneNumber" placeholder="broj telefona"></custom-input>
      <custom-input class="control" [form]="form" controlName="serviceType" placeholder="vrsta servisa"></custom-input>
    </div>

    <div class="error-block" *ngLet="(errorMessages$ | async) as errors">
      <div *ngFor="let msg of errors">{{msg}}</div>
    </div>
    <div class="button-group">
      <button type="button" mat-raised-button (click)="cancel()">Odustani</button>
      <button *ngIf="mode=='add'" mat-raised-button color="primary">Kreiraj</button>
      <button *ngIf="mode=='edit'" mat-raised-button color="primary">Potvrdi</button>
    </div>
  </form>
</div>
