<div class="main">
  <header>
    <div class="header-inner">
      <div class="logo">
        <img src="assets/rooster-logo.png" alt="img">
        <span>ponudi</span>
      </div>
      <app-navigation></app-navigation>
    </div>
  </header>
  <div class="main-inner">
    <div class="horizontal-panel">
      <div class="account-group">
        <div class="info">
          {{loggedUser?.username}}
        </div>
        <button *ngIf="!!loggedUser" class="button-primary" (click)="logout()">Log Out</button>
        <button *ngIf="!loggedUser" class="button-primary" routerLink="/auth">Sign In</button>
      </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>