.main{
  display: flex;
  min-height: 2000px;
  position: relative;
  background-color: var(--light-primary);
  color: var(--dark-primary);
  margin-left: 280px;
  margin-top:70px;
  .sidebar{
    z-index: 100;
    background-color: var(--dark-secondary);
    box-shadow: 3px 0px 2px rgba(0, 0, 0, 0.08);
    position: fixed;
    top:70px;
    left:0px;
    bottom: 0px;
    width: 280px;
    overflow-y: auto;
  }
}