<div class="main container">
  <header>
    <div class="header-inner">
      <div class="logo">
        <img src="assets/rooster-logo.png" alt="img">
        <span>rooster</span>
      </div>
      <app-navigation></app-navigation>
    </div>
    <div class="profile">
      <div class="image-wrapper">
        <img src="assets/user.png" alt="alt">
      </div>
      <div class="info-panel">
        <div class="fullname">Rade Stojanovic</div>
        <div class="username">@<span>Radule614</span></div>
      </div>
      <div class="dots">
        <fa-icon [icon]="['fas', 'ellipsis']"></fa-icon>
      </div>
    </div>
  </header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>