.main{
  display: flex;
  min-height: 2000px;
  position: relative;
  background-color: var(--secondary);
  color: var(--text-primary);
  margin-left: var(--main-sidebar-width);
  margin-top: var(--header-height);
  .sidebar{
    z-index: 100;
    background-color: var(--secondary-variant);
    position: fixed;
    top:var(--header-height);
    left:0px;
    bottom: 0px;
    width: var(--main-sidebar-width);
    overflow-y: auto;
  }
  .content{
    flex: 1;
    overflow-x: hidden;
  }
}