<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3>Create Account</h3>

  <div class="form-group">
    <custom-input [form]="form" controlName="username" placeholder="username"></custom-input>
  </div>
  <div class="form-group">
    <custom-input [form]="form" controlName="email" placeholder="email" type="email"></custom-input>
  </div>
  <div class="form-group double">
    <div>
      <custom-input [form]="form" controlName="firstname" placeholder="firstname"></custom-input>
    </div>
    <div>
      <custom-input [form]="form" controlName="lastname" placeholder="lastname"></custom-input>
    </div>
  </div>
  <div class="form-group double">
    <div>
      <custom-input [form]="form" controlName="password" placeholder="password" type="password" [error]="passwordMatchError"></custom-input>
    </div>
    <div>
      <custom-input [form]="form" controlName="passwordConfirm" placeholder="confirm password" type="password" [error]="passwordMatchError"></custom-input>
    </div>
  </div>
  <div class="form-group gender-block">
    <mat-radio-group
    aria-labelledby="example-radio-group-label"
    formControlName="gender">
    <mat-radio-button class="btn-radio" value="male">
      muško
    </mat-radio-button>
    <mat-radio-button class="btn-radio" value="female">
      žensko
    </mat-radio-button>
   </mat-radio-group>
  </div>

  <div class="error-block">
    <div *ngFor="let msg of errorMessages">{{msg}}</div>
  </div>

  <button mat-raised-button>sign up</button>
</form>

<div class="loader" *ngIf="loading">
  <div class="background"></div>
  <div class="spinner">
    <spinner></spinner>
  </div>
</div>