<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3>Create Account</h3>

  <div class="form-group">
    <custom-input [form]="form" controlName="username" placeholder="username"></custom-input>
  </div>
  <div class="form-group">
    <custom-input [form]="form" controlName="email" placeholder="email" type="email"></custom-input>
  </div>
  <div class="form-group double">
    <div>
      <custom-input [form]="form" controlName="firstname" placeholder="firstname"></custom-input>
    </div>
    <div>
      <custom-input [form]="form" controlName="lastname" placeholder="lastname"></custom-input>
    </div>
  </div>
  <div class="form-group double">
    <div>
      <custom-input [form]="form" controlName="password" placeholder="password" type="password" [error]="passwordMatchError"></custom-input>
    </div>
    <div>
      <custom-input [form]="form" controlName="passwordConfirm" placeholder="confirm password" type="password" [error]="passwordMatchError"></custom-input>
    </div>
  </div>
  <div class="form-group gender-block">
    <custom-radio [form]="form" controlName="gender" value="male"></custom-radio>
    <custom-radio [form]="form" controlName="gender" value="female"></custom-radio>
  </div>

  <div class="error-block">
    <div *ngFor="let msg of errorMessages">{{msg}}</div>
  </div>

  <button class="button-primary">sign up</button>
</form>

<div class="loader" *ngIf="loading">
  <div class="background"></div>
  <div class="spinner">
    <spinner></spinner>
  </div>
</div>