<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3>Create Account</h3>

  <div class="form-group">
    <custom-input [form]="form" controlName="username" placeholder="username"></custom-input>
  </div>
  <div class="form-group">
    <custom-input [form]="form" controlName="email" placeholder="email" type="email"></custom-input>
  </div>
  <div class="form-group">
    <custom-input [form]="form" controlName="password" placeholder="password" type="password"></custom-input>
  </div>
  <div class="form-group">
    <custom-input [form]="form" controlName="passwordConfirm" placeholder="confirm password" type="password"></custom-input>
  </div>
  <div class="form-group gender-block">
    <custom-radio [form]="form" controlName="gender" value="male"></custom-radio>
    <custom-radio [form]="form" controlName="gender" value="female"></custom-radio>
  </div>
  
  <button class="button-primary">sign up</button>
</form>