
<header>
  <button type="button" class="btn-menu">
    <fa-icon [icon]="['fas', 'bars']"></fa-icon>
  </button>
  <div class="logo">
    <img src="assets/rooster-logo.png" alt="img">
    <span>ponudi</span>
  </div>
  <div class="inner">
    <div class="right">
      <div class="account-group">
        <div class="info">
          {{loggedUser?.username}}
        </div>
        <button *ngIf="!!loggedUser" class="button-primary inverse" (click)="logout()">Izloguj se</button>
        <button *ngIf="!loggedUser" class="button-primary inverse" (click)="openAuth()">Uloguj se</button>
      </div>
    </div>
  </div>
</header>