h3{
  border-bottom: 1px solid var(--background-4);
}

h6{
  margin-top: 40px;
}

.form-block{
  max-width: 400px;
}

.button-group{
  margin-top: 60px;
}

.category-selector{
  margin-bottom: 40px;
}

.options {
  max-width: 1000px;
}

.option-form{
  h6{
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .button-group{
    margin-top: 30px;
    justify-content: right;
  }
}
