.box-control{
  position: relative;
  input,
  select,
  textarea {
    width: 100%;
    padding:12px 20px;
    border:2px solid var(--active-primary);
    border-radius: 5px;
    &.ng-invalid.ng-dirty{
      border:2px solid var(--error-primary);
    }
    &:focus{
      outline: 2px solid rgba(var(--active-primary-rgb), 0.2);
    }
  }
  label {
    position: absolute;
    top:0px;
    left:22px;
    bottom:0px;
    margin:auto;
    display: flex;
    font-size: 14px;
    align-items: center;
    cursor: text;
    padding:0px 5px;
    margin: 20px 0px;
    background-color: var(--secondary);
    transform: translateY(-25px) translateX(-12px);
    // transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    // &.animate{
    //   transform: translateY(-25px) translateX(-12px);
    // }
  }
  input.ng-invalid.ng-dirty + label{
    color: var(--error-primary);
  }
  input.ng-dirty + label{
    transform: translateY(-25px) translateX(-12px);
  }
  &.custom-error {
    input {
      border:2px solid var(--error-primary);
      & + label{
        color: var(--error-primary);
      }
    }
  }
}