button{
  width: 100%;
  border:none;
  text-align: left;
  padding:10px 30px 10px 15px;
  background-color: var(--secondary);
  position: relative;
  border-radius: 10px;
  color:var(--text-primary);
  transition: background-color 0.2s ease, color 0.2s ease;
  &:hover{
    color: var(--active-primary);
    .icon{
      visibility: visible;
    }
  }
  .icon{
    position: absolute;
    display: flex;
    align-items: center;
    top:0px;
    right:8px;
    height: 100%;
    visibility: hidden;
  }
  &.selected{
    .icon{
      visibility: visible;
    }
    &:not(.expandable){
      background-color: var(--active-primary);
      color: var(--secondary);
      &:hover{
        color: var(--secondary);
      }
    }
    &.expandable{
      color: var(--active-primary);
    }
  }
  &.new-item{
    border: 1px solid var(--text-primary);
    padding-right: 45px;
    font-style: italic;
    .icon{
      visibility: visible;
    }
    .icon{
      font-size: 16px;
    }
    &:hover{
      border: 1px solid var(--active-primary);
    }
    &.selected{
      border: 1px solid var(--active-primary);
    }
  }
}