h3{
  border-bottom: 1px solid var(--background-4);
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 480px));
  grid-gap: 0px 20px;
  margin-bottom: 10px;
  .form-group{
    display: flex;
    flex: 1;
    .grid-placeholder{
      width: 100%;
    }
    .control{
      width: 100%;
      margin-left: 20px;
      &:first-child{
        margin-left: 0px;
      }
    }
  }
  .full{
    grid-column: span 2;
  }
}
.select-category{
  margin-bottom: 30px;
}
.button-group{
  margin-top: 40px;
}

.file-block{
  margin-top: 20px;
  margin-bottom: 40px;
}

.gallery{
  margin-bottom: 40px;
}

.description{
  margin-bottom: 30px;
  h6{
    margin-bottom: 20px;
  }
}