<div class="container">
  <h3 *ngIf="mode=='add'">Kreiranje artikla</h3>
  <h3 *ngIf="mode=='edit'">Promjena artikla</h3>
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="grid">
      <custom-input class="control" [form]="form" controlName="content" placeholder="naslov"></custom-input>
      <div class="form-group">
        <custom-input   class="control" [form]="form" controlName="price"     placeholder="cijena" type="number"></custom-input>
        <custom-select  class="control" [form]="form" controlName="currency"  placeholder="valuta" [options]="currencies"></custom-select>
      </div>
    </div>

    <div class="description">
      <h6>Detalji</h6>
      <div *ngIf="!descriptionEdit">
        <div class="description-preview ck-content" [innerHtml]="form.getRawValue().description | richtextDecoder | safeHtml"></div>
        <button type="button" mat-raised-button color="primary" (click)="openDescriptionEdit()">Izmjeni detalje</button>
      </div>
      <div *ngIf="descriptionEdit" class="description-form">
        <form [formGroup]="descriptionForm" (ngSubmit)="descriptionSubmit()">
          <ckeditor [editor]="Editor" formControlName="description"></ckeditor>
          <div class="button-group">
            <button type="button" mat-raised-button (click)="descriptionEdit=false">Odustani</button>
            <button mat-raised-button color="primary">Sačuvaj</button>
          </div>
        </form>
      </div>
    </div>

    <h6>Galerija</h6>
    <div class="file-block">
      <file-uploader (fileSelectedEvent)="fileSelectedHandler($event)"></file-uploader>
    </div>

    <div class="gallery">
      <app-gallery [images]="images" [editable]="true"></app-gallery>
    </div>
    
    <div *ngIf="mode=='add'">
      <h6>Odaberi kategoriju</h6>
      <div class="select-category">
        <app-category-selector (pathChangedEvent)="categoryPathHandler($event)"></app-category-selector>
      </div>
    </div>
  
    <form class="grid options-block" [formGroup]="optionsForm">
      <custom-input *ngFor="let option of options" class="control" [form]="optionsForm" [controlName]="option" [placeholder]="option"></custom-input>
    </form>
    
    <div class="error-block">
      <div *ngFor="let msg of errorMessages">{{msg}}</div>
    </div>
    <div class="button-group">
      <button type="button" mat-raised-button (click)="cancel()">Odustani</button>
      <button *ngIf="mode=='add'" mat-raised-button color="primary">Kreiraj</button>
      <button *ngIf="mode=='edit'" mat-raised-button color="primary">Potvrdi</button>
    </div>
  </form>
</div>
