<div class="auth-block">

  <div class="form-block login-block" [@loginBlock]="state">
    <div class="inner">
      <h3>Sign in to ROOSTER</h3>
      <form>
        <div class="form-group">
          <label for="login-username"></label>
          <input type="text" name="username" id="login-username" placeholder="username">
        </div>
        <div class="form-group">
          <label for="login-password"></label>
          <input type="password" name="password" id="login-password" placeholder="password">
        </div>
        <button>sign in</button>
      </form>
    </div>
  </div>
  <div class="form-block register-block" [@registerBlock]="state">
    <div class="inner">
      <h3>Create Account</h3>
      <form>
        <div class="form-group">
          <label for="username"></label>
          <input type="text" name="username" id="username" placeholder="username">
        </div>
        <div class="form-group">
          <label for="email"></label>
          <input type="text" name="email" id="email" placeholder="email">
        </div>
        <div class="form-group">
          <label for="password"></label>
          <input type="password" name="password" id="password" placeholder="password">
        </div>
        <div class="form-group">
          <label for="password-confirm"></label>
          <input type="password" name="passwordConfirm" id="password-confirm" placeholder="confirm password">
        </div>
        <button>sign up</button>
      </form>
    </div>
  </div>

  <div class="transition-block" [@transitionBlock]="state">
    <button (click)="switchState()">sing in</button>
  </div>

  <div class="message-block login-message" [@loginMessage]="state">
    <h3>
      Welcome Back!
    </h3>
    <p>
      To keep being connected with us please enter your personal info
    </p>
  </div>
  <div class="message-block register-message" [@registerMessage]="state">
    <h3>
      Hello, Friend!
    </h3>
    <p>
      Enter your personal details and start journey with us
    </p>
  </div>

</div>