
button {
  display:block;
  outline: none;
  background-color: var(--active-primary);
  border:2px solid #fff;
  padding: 12px 80px;
  color: #fff;
  font-size: 16px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

input {
  width: 100%;
  padding:12px 20px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form {
  width: 400px;
  margin:auto;
  margin-top: 100px;
  h3{
    text-align: center;
    margin-bottom: 50px;
  }
  input{
    margin-top: 15px;
    &:first-child{
      margin-top: 0px;
    }
  }
  button{
    background-color: var(--active-primary);
    border:2px solid var(--active-primary);
    color: #fff;
    margin:auto;
    margin-top: 50px;
  }
}